<app-navbar></app-navbar>

<div class="container">
    <div class="row justify-content-center">
        <div class="col md-col sm-col lg-col" *ngFor="let user of users">
            <div class="card shadow" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" [src]="user.picture.medium" alt="Responsive image">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title" style="text-transform: uppercase;">{{ user.name.title }}. {{ user.name.first }} {{ user.name.last }}</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong><i style="color:blue;" class="fas fa-address-card"></i> Dirección:</strong> {{ user.location.street.name }} {{ user.location.street.number }}
                        </li>
                    </ul>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong><i style="color:red;" class="fas fa-city"></i> Ciudad:</strong> {{ user.location.city }}
                        </li>
                        <li class="list-group-item">
                            <strong><i style="color:green;" class="fas fa-flag"></i> País:</strong> {{ user.location.country }}
                        </li>
                        <li class="list-group-item">
                            <strong><i style="color:gold" class="fas fa-envelope"></i> Código Postal:</strong> {{ user.location.postcode }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
